name: Update blog posts
on:
  workflow_dispatch:
  schedule:
    # Runs every hour
    - cron: '0 12 * * *'
    

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: khaosdoctor/blog-post-workflow@master
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: MEDIUM
          feed_list: "https://medium.com/feed/@artgor"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: HABR
          feed_list: "https://habr.com/ru/rss/search/?q=%D0%90%D0%B2%D1%82%D0%BE%D1%80%3AArtgor"
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: BLOG
          feed_list: "https://andlukyane.com/feed.xml"
